<div class='right-placed-logo-header jumbotron'> 
  <div class='d-flex justify-content-between'> 
    <article class='text-left'>
      <h1><%= locals.fetch('title', '') %></h1>
	  <p><%= locals.fetch('subtitle', '') %></p>
	</article>
    <img src='<%= locals.fetch('image', '') %>' /> 
  </div> 
</div> 