<div class="iconded-list">
  <div class='text-left'>
    <h1><%= locals.fetch('title', '') %></h1>
    <ul style = 'list-style: none;'>
        <% locals.fetch('items', []).each do |item| %>
        <li>
            <i class='fas fa-<%= item['icon']['name'] %>' style='color: <%= item['icon']['color'] %>'></i>
            <span><%= item['text'] %></span>
        </li>
        <% end %>
    </ul>
  </div>
<div>